parameters:
    level: 9
    paths:
        - src
    tmpDir: var/phpstan-tmp
    inferPrivatePropertyTypeFromConstructor: true
    checkGenericClassInNonGenericObjectType: false

    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'

    ignoreErrors:
        - message: '#Method App\\Repository\\[a-zA-Z0-9\\_]+Repository::.*\(\) should return array\<[a-zA-Z0-9\\_]+\> but returns mixed\.#'
          path: src/Repository
        - message: '#Method App\\Repository\\[a-zA-Z0-9\\_]+Repository::.*\(\) should return [a-zA-Z0-9\\_]+\|null but returns mixed\.#'
          path: src/Repository
        - message: '#Parameter \#1 \$func of method Doctrine\\Common\\Collections\\ReadableCollection<\(int\|string\),mixed>::map\(\) expects Closure\(mixed\): .*, Closure\(.*\): .* given\.#'
          path: src/Data/Exporter.php
