{% extends 'default_page.html.twig' %}

{% block title %}Modifier un élément{% endblock %}
{% block page_title %}Modifier élément{% endblock %}

{% block page_body %}
    {% if print_request.isPrinted %}
        <p class="text-black-50 mt-5">
            L'objet a été imprimé. Vous ne pouvez plus le modifier
        </p>
    {% endif %}

    {{ include('print_request/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('print_request_index') }}">Retourner à la liste</a>

    {% if not print_request.isPrinted %}
        {{ include('print_request/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
