{% extends 'base.html.twig' %}

{% block title %}Nouvelle impression{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter nouvel élément</h1>

        {{ include('print_request/_form.html.twig') }}

        <a href="{{ path('print_request_index') }}">Retourner à la liste</a>
    </div>
{% endblock %}
