{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="mt-4 mb-4">{% block page_title %}{% endblock %}</h1>

        {% block page_body %}{% endblock %}
    </div>
{% endblock %}
