{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1 class="mt-5 text-center">
                    Connexion
                </h1>
                <p class="mt-5 text-center text-muted">
                    Je n'ai pas encore de compte <a href="{{ path('registration_register') }}" class="btn btn-outline-primary">Créer mon compte</a>
                </p>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="border rounded rounded-lg p-5">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <label for="inputUsername">Username</label>
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>

                        <button class="btn btn-lg btn-primary" type="submit">
                            Sign in
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
