<form method="post" class="mt-5" action="{{ path('print_object_delete', {'id': print_object.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément de la liste ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete-print-object-' ~ print_object.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
