<form method="post" action="{{ path('filament_delete', {'id': filament.id}) }}" onsubmit="return confirm('{{ 'filament.delete.confirm'|trans }}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('filament-delete-' ~ filament.id) }}">
    <button class="btn btn-danger w-100"><span class="fa fa-trash"></span> {{ 'common.action.delete'|trans }}</button>
</form>
