{% extends 'base.html.twig' %}

{% block title %}Modifier un filament{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier le filament</h1>

        {% if filament.printItems|length > 0 %}
            <p class="text-black-50 mt-5">
                Le filament a été selectionné pour une ou plusieurs impression(s). Vous ne pouvez plus le supprimer.
            </p>
        {% endif %}

        {{ include('filament/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('filament_index') }}">Retourner à la liste</a>

        {% if filament.printItems|length < 1 %}
            {{ include('filament/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
