{% extends 'default_page.html.twig' %}

{% block title %}Modifier un filament{% endblock %}
{% block page_title %}Modifier le filament{% endblock %}

{% block page_body %}
    {% if filament.printObjects|length > 0 %}
        <p class="text-black-50 mt-5">
            Le filament a été selectionné pour une ou plusieurs impression(s). Vous ne pouvez plus le supprimer.
        </p>
    {% endif %}

    {{ include('filament/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('filament_index') }}">Retourner à la liste</a>

    {% if filament.printObjects|length < 1 %}
        {{ include('filament/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
