{% extends 'default_page.html.twig' %}

{% block title %}Ajouter un nouveau filament{% endblock %}
{% block page_title %}Ajouter un nouveau filament{% endblock %}

{% block page_body %}
    {{ include('filament/_form.html.twig') }}

    <a href="{{ path('filament_index') }}">Retourner à la liste</a>
{% endblock %}
